<ion-view title="Login">
   <ion-content class="app" >
     <h2 style="text-align:center;">{{title}}</h2>

     <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>

        <button class="button button-block button-positive">Login</button>
      </div>
   </ion-content>
</ion-view>
